.Heading {
  font-size: 5em;
  color: rgb(50, 50, 126);
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}

.Main-Div {
  background-color: rgb(145, 145, 233);
  background-size: cover;
  height: 100%;
  margin-top: 0px;
  text-align: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.Video-Responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
